@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@200&display=swap');

:root {
    --bg: #181818;
    --color: #eedede;
    --gr-clr-nature: ;
    --gr-clr-black-gradient: linear-gradient(to right, #040404, #000000, #656565);
    --gr-clr-space: linear-gradient( 99.9deg, rgba(27,24,31,1) 21.2%, rgba(50,4,89,1) 84.8% );
    --gr-clr-gold: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    --gr-clr-pinkdreams: linear-gradient(to right, #FFA69E, #861657);
    --gr-clr-lightgreen: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
    --gr-clr-forest: linear-gradient(315deg, #63d471 0%, #233329 74%);
    --gr-clr-forestfall: linear-gradient(315deg, #f2cf43 0%, #19a186 74%);
    --gr-clr-sunrise: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    --gr-clr-desert: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
    

    --clr-1: #A3D69A;
    --clr-2: #A7BC8A;
    --clr-3: #ABA27B;
    --clr-4: #AE876B;
    --clr-5: #B26D5B;  

}


@font-face {
    font-family: Blanka;
    src: url("./assets/Blanka-Regular.otf");
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    background: var(--gr-clr-pinkdreams);
    overflow: hidden;
}
/* 
.bg_animation {
    transition: background cubic-bezier(.57,.21,.69,1.25) forwards 0.3s;
} */


/* background */
.underlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background: white;
  }

main {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 2rem auto;
    font-size: clamp(1.3rem, 4vw, 5rem);
    font-family: Blanka;
}

img {
    position: fixed;
    top: auto;
    bottom: 60px;
    min-width: 200px;
    max-width: 400px;
    height: 200px;
    height: auto;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
}


button {
    margin: 2rem auto 0.25rem; 
    padding: 1rem 1.5rem;  
    position: relative;
    display: block;   
    font-size: 1.125rem;
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    letter-spacing: 4px;
    cursor: pointer;
    overflow: hidden;   
}

button:hover {
    background: #a992e4c7;
    color: #050801;
    box-shadow: 0 0 5px #7a85eb,
                0 0 25px #7a7cebb6,
                0 0 50px #5f67c56e,
                0 0 100px #433e6e57;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

.quote_wrapper {
    font-family: 'Trispace', sans-serif;
    margin: 1rem auto 0.5rem;
    position: relative;
    width: 80%;
}

footer {
    padding: 0.5rem 1rem;
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    display: grid;
    place-content: center;
    z-index: 10;
    background: var(--gr-clr-pinkdreams);
    color: white;
}

/*  animations  */

@keyframes star-blink{
    40% { -webkit-opacity: 0.3; opacity: 0.3;  }
    90%,100% { -webkit-opacity: 1; opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2); border-radius: 999999px;}
}

@media screen and (min-width: 768px) {
    img {
        position: fixed;
        bottom: 0;
        min-width: 500px;
        max-width: 800px;
        height: 400px;
        height: auto;
        object-fit: cover;
        z-index: 1;
    }
}
