@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@200&display=swap');

:root {
    --bg: #181818;
    --color: #eedede;
    --gr-clr-nature: ;
    --gr-clr-black-gradient: linear-gradient(to right, #040404, #000000, #656565);
    --gr-clr-space: linear-gradient( 99.9deg, rgba(27,24,31,1) 21.2%, rgba(50,4,89,1) 84.8% );
    --gr-clr-gold: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    --gr-clr-pinkdreams: linear-gradient(to right, #FFA69E, #861657);
    --gr-clr-lightgreen: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
    --gr-clr-forest: linear-gradient(315deg, #63d471 0%, #233329 74%);
    --gr-clr-forestfall: linear-gradient(315deg, #f2cf43 0%, #19a186 74%);
    --gr-clr-sunrise: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    --gr-clr-desert: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
    

    --clr-1: #A3D69A;
    --clr-2: #A7BC8A;
    --clr-3: #ABA27B;
    --clr-4: #AE876B;
    --clr-5: #B26D5B;  

}

@font-face {
    font-family: Blanka;
    src: url("./assets/Blanka-Regular.otf");
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    background: var(--gr-clr-pinkdreams);
    overflow: hidden;
}

/* background */
.underlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background: white;
  }

main {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 2rem auto;
    font-size: clamp(1rem, 3vw, 4rem);
    font-family: Blanka;
}

img {
    position: absolute;
    top: 35vh;
    bottom: 0;
    width: 400px;
    height: auto;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
}


button {
    margin: 1rem auto 0.25rem; 
    padding: 0.5rem 1rem;  
    position: relative;
    display: block;   
    font-size: 0.6rem;
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    letter-spacing: 2px;
    cursor: pointer;
    overflow: hidden;   
    transition: all 0.4s ease-out;
}

button:hover {
    background: #a992e4c7;
    color: #050801;
    box-shadow: 0 0 5px #7a85eb,
                0 0 25px #7a7cebb6,
                0 0 50px #5f67c56e,
                0 0 100px #433e6e57;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}


.quote_wrapper {
    margin: 1rem auto 0.5rem;
    position: relative;
    width: 80%;
    color: #d5d7ea;
    text-align: center;
}

.quote {
    font-family: 'Trispace', sans-serif;
    font-size: 0.7rem;    
    background-color: #181818;
}

footer {
    padding: 0.5rem 1rem;
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    display: grid;
    place-content: center;
    font-size: 0.6rem;
    z-index: 10;
    background: var(--gr-clr-pinkdreams);
    color: white;
}

/*  animations  */

@keyframes star-blink{
    40% { -webkit-opacity: 0.3; opacity: 0.3;  }
    90%,100% { -webkit-opacity: 1; opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2); border-radius: 999999px;}
}

@media (max-width: 400px) and (max-height: 670px) {
    img {
        position: fixed;
        top: 40vh;
        bottom: unset;
        width: 220px;
        height: auto;
        object-fit: cover;
        object-position: center;
        z-index: 1;
        pointer-events: none;
    }
}

@media screen and (min-width: 768px) {

    button {
        margin: 2rem auto 0.25rem; 
        padding: 1rem 1.5rem;  
        font-size: 1rem;
        letter-spacing: 4px; 
    }

    .quote_wrapper {
        width: 60%;    
    }

    img {
        top: 20vh;
        bottom: 10vh;
        min-width: 500px;
        max-width: 800px;
        height: 500px;
        height: auto;
        object-fit: cover;
        z-index: 1;
    }
    footer {
        padding: 0.5rem 1rem;
        position: fixed;
        width: 100%;
        height: 60px;
        bottom: 0;
        left: 0;
        display: grid;
        place-content: center;
        font-size: 1rem;
        z-index: 10;
        background: var(--gr-clr-pinkdreams);
        color: white;
    }
}
